@model BPMWorklist.Models.TaskModel
<div class="form-group">
    <label class="control-label col-sm-2" for="@Html.IdFor(e=>e.TaskId)">@Html.LabelFor(e => e.TaskId):</label>
    @*@Html.LabelFor(m=>m.TaskId,new string { })*@
    <div class="col-sm-3">
        <input type="text" class="form-control" id="@Html.IdFor(e=>e.TaskId)" name="@Html.IdFor(e=>e.TaskId)" readonly value="@Model.TaskId">
    </div>
    <label class="control-label col-sm-2" for="@Html.IdFor(e=>e.Title)">@Html.LabelFor(e => e.Title):</label>
    <div class="col-sm-3">
        <input type="text" class="form-control" id="@Html.IdFor(e=>e.Title)" name="@Html.IdFor(e=>e.Title)" readonly value="@Model.Title">
    </div>
</div>
@*<div class="form-group">
    <label class="control-label col-sm-2" for="@Html.IdFor(e=>e.PayloadVersion)">@Html.LabelFor(e => e.PayloadVersion):</label>
    <div class="col-sm-3">
        <input type="text" class="form-control" id="@Html.IdFor(e=>e.PayloadVersion)" name="@Html.IdFor(e=>e.PayloadVersion)" readonly value="@Model.PayloadVersion">
    </div>
    <label class="control-label col-sm-2" for="@Html.IdFor(e=>e.PayloadUpdateSeq)">@Html.LabelFor(e => e.PayloadUpdateSeq):</label>
    <div class="col-sm-3">
        <input type="text" class="form-control" id="@Html.IdFor(e=>e.PayloadUpdateSeq)" name="@Html.IdFor(e=>e.PayloadUpdateSeq)" readonly value="@Model.PayloadUpdateSeq">
    </div>
</div>*@
